<template>
       <v-app>
           <div class="text-md-center">
               <h1>Alterar Dados do Produto</h1>
           </div>
           <v-form ref="form">
               <v-text-field
                v-model="produto.nome"
                :rules="nameRules"
                label="Produto"
                required
                ></v-text-field>
                
               <v-text-field
               v-model="produto.numero"
               label="Número"
               :rules="EmailRules"
               required
               >
               </v-text-field>
            <v-btn @click="alterar" class="success">Salvar</v-btn>
           </v-form>
       </v-app>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        return{
            id: 0,
            produto: {},
           
             nameRules: [
                v => !!v || 'Campo NOME é requirido'
            ],
            EmailRules: [
                v => !!v || 'Campo Número é requirido',
            ]
        }
    },
    created(){
        this.id = this.$route.params.id;
    },
    methods:{
        async buscar(){
            var response = await axios.get("http://localhost:8080/alterarProduto/"+this.id);
            this.produto = response.data;
           
        },

        async alterar(){
            var response = await axios.post("http://localhost:8080/salvarAlteracao/"+this.id, this.produto);
            this.$router.push('/produtos')
        }
    },
    mounted(){
        this.buscar();
    }
}
</script>
