<template>
       <v-app>
           <div class="text-md-center">
               <h1>Alterar Dados do Cliente</h1>
           </div>
           <v-form ref="form">
               <v-text-field
                v-model="cliente.nome"
                :rules="nameRules"
                label="Name"
                required
                ></v-text-field>
                
               <v-text-field  v-mask="['###.###.###-##']" 
               v-model="cliente.cpf"
               label="CPF"
               :rules="EmailRules"
               required
               >
               </v-text-field>
            <v-btn @click="alterar" class="success">Salvar</v-btn>
           </v-form>
       </v-app>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        return{
            id: 0,
            cliente: {},
           
             nameRules: [
                v => !!v || 'Campo NOME é requirido'
            ],
            EmailRules: [
                v => !!v || 'Campo CPF é requirido',
            ]
        }
    },
    created(){
        this.id = this.$route.params.id;
    },
    methods:{
        async buscar(){
            var response = await axios.get("http://localhost:8080/cliente/"+this.id);
            this.cliente = response.data;
           
        },

        async alterar(){
            var response = await axios.post("http://localhost:8080/cliente/"+this.id, this.cliente);
            this.$router.push('/clientes')
        }
    },
    mounted(){
        this.buscar();
    }
}
</script>
