<template>
       <v-app>
           <div class="text-md-center">
               <h1>Cadastro de Produtos</h1>
           </div>

           <v-form ref="form">
               <v-text-field
               v-model="produto.nome"
               :rules="produtoRules"
               label="Nome Produto"
               required
               ></v-text-field>

                <v-text-field
                v-model="produto.numero"
                :rules="numeroRules"
                label="Número do Produto"
                required
                >
                </v-text-field>
                <v-btn @click="salvar" class="success">Salvar Produto</v-btn>
           </v-form>
          
       </v-app>
</template>

<script>
import axios from 'axios';
export default {

   data: () => ({
            
            produto: {},
            // validação dos campos
            produtoRules: [
                v => !!v || 'Campo NOME é requirido'
            ],
            numeroRules: [
                v => !!v || 'Campo NÚMERO é requirido',
            ]
    }),

    methods:{
        async salvar(){
            if (this.$refs.form.validate()) {
                var response = await axios.post('http://localhost:8080/salvarproduto', this.produto);
                this.$router.push('/produtos')
            }
            
        }
    }    
}
</script>
