<template>
       <v-app>
           <div class="text-md-center">
               <h1>Cadastro de Cliente</h1>
           </div>
           <v-form ref="form">
               <v-text-field
                v-model="cliente.nome"
                :rules="nameRules"
                label="Name"
                required
                ></v-text-field>
                
               <v-text-field  v-mask="['###.###.###-##']" 
               v-model="cliente.cpf"
               label="CPF"
               :rules="EmailRules"
               required
               >
               </v-text-field>
            <v-btn @click="salvar" class="success">Salvar</v-btn>
           </v-form>
       </v-app>
</template>

<script>
import axios from 'axios';
export default {

   data: () => ({
            
            cliente: {},
            // validação dos campos
            nameRules: [
                v => !!v || 'Campo NOME é requirido'
            ],
            EmailRules: [
                v => !!v || 'Campo CPF é requirido',
            ]
    }),

    methods:{
        async salvar(){
            if (this.$refs.form.validate()) {
                var response = await axios.post('http://localhost:8080/clientes', this.cliente);
                this.$router.push('/clientes')
            }
            
        }
    }    
}
</script>
