<template>
    <v-app>
        <div class="text-md-center">
            <h1>Lista de Clientes</h1>
        </div>
        <br><br>
        <div>
            <router-link :to='"/cadastrar"'>
                <v-btn class="info">Cadastrar Clientes</v-btn>
            </router-link>
        </div>
       
        <br>
        <!-- aqui são montados o cbaeçalho e depois os usuarios vindo do banco -->
        <v-data-table
        :headers="headers"  
        :items="clientes"
        hide-actions
        class="elevation-1"
    >   
        <!-- os dados sao recebidos pelo variavel items:clientes que recebeu
        os dados vindo do get  -->
        <template slot="items" slot-scope="props">
            <td class="">{{ props.item.nome }}</td>
            <td class="">{{ props.item.cpf }}</td>
            <td>
                <router-link :to="'/alterar/'+ props.item.id"><span class=""><v-icon>edit</v-icon></span></router-link>
            </td>
            <td>
                <router-link :to="'/excluir/'+ props.item.id"><span class=""><v-icon>delete</v-icon></span></router-link>
            </td>
        </template>
    </v-data-table>

    </v-app>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        return{
            // cabeçalho
        headers: [
          { text: 'Cliente', value: 'nome', sortable: true },
          { text: 'CPF', value: 'cpf', sortable: false },
          { text: 'Alterar', value: '', sortable: false },
          { text: 'Excluir', value: '', sortable: false },
        ],
        // conteudo que vai receber do get os dados do banco
        clientes: [],
        }
    },
    methods:{
        async lista(){
            // lista de dados recebidos do banco
            var response = await axios.get('http://localhost:8080/clientes');
            this.clientes = response.data;
            //teste para verificar se estra trazendo na aplicação os registros
            // this.clientes = response.data;
            // alert(JSON.stringify(this.clientes));
        }
    },
    mounted(){
        this.lista();
    }
}
</script>

  