<template>
    <v-app>
           <div class="text-md-center">
               <h1>Excluir Dados do Cliente</h1>
           </div>
                <label>Nome do Cliente:</label>
                <v-card-text> {{cliente.nome}} </v-card-text>
                
                <label>CPF do Cliente:</label>
                <v-card-text>{{cliente.cpf}}</v-card-text>
            <v-layout>
                <v-btn @click="deletar" class="error">Deletar Cliente</v-btn>
            </v-layout>
    </v-app>      
</template>

<script>
import axios from 'axios'
export default {
    data(){
        return{
            id: 0,
            cliente: {}
        }
    },
    created(){
        this.id = this.$route.params.id;
    },
    methods:{
        async buscar(){
            var resp = await axios.get("http://localhost:8080/cliente/"+this.id);
            this.cliente = resp.data;
        },

        async deletar(){
            var resp = await axios.post("http://localhost:8080/excluircliente/"+this.id);
            this.$router.push('')
        }
    },
    mounted(){
        this.buscar();
    }
}
</script>
