<template>
    <v-app>

        <h1>Excluir o Produto</h1>

        <label for="">Produto</label>
        <v-card-text> {{produto.nome}} </v-card-text>

        <label>Número</label>
        <v-card-text> {{produto.numero}} </v-card-text>

        <v-layout>
            <v-btn @click="deletar" class="error">Excluir Produto</v-btn>
        </v-layout>

    </v-app>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        return{
            produto: {},
            id: 0

        }
    },
    created(){
        this.id = this.$route.params.id;
    },

    methods:{
        async buscar(){
            var  resp = await axios.get("http://localhost:8080/alterarProduto/"+this.id);
            this.produto = resp.data;
        },

        async deletar(){
            var resp = await axios.post("http://localhost:8080/deletarProduto/"+this.id, this.produto);
            this.$router.push('/produtos')
        }
    },

    mounted(){
        this.buscar();
    }

}
</script>

