<template>
    <v-app>
       <div class="text-md-center">
           <h1>Lista de Produtos</h1>
       </div>
       <br><br>
       <div>
           <router-link :to='"/cadastrarProduto"'>
                <v-btn class="info">Cadastrar Produtos</v-btn>
           </router-link>
       </div>
        <br />

        <v-data-table
        :headers="headers"
        :items="produtos"
        hide-actions 
        class="elevation-1"
        >

        <template slot="items" slot-scope="props">
            <td> {{props.item.nome}} </td>
            <td> {{props.item.numero}} </td>
            <td> <router-link :to='"/alterarProduto/" + props.item.id'><v-icon>edit</v-icon></router-link> </td>
            <td> <router-link :to='"/excluirProduto/" + props.item.id'><v-icon>delete</v-icon></router-link> </td>
        </template>

        </v-data-table>

    </v-app>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        return{
            produtos: [],
            headers:[
                { text: 'Produto', value: 'nome', sorteble: true },
                { text: 'Número', value: 'numero', sortable: false },
                { text: 'Alterar', value: '', sorteble: false },
                { text: 'Excluir', value: '', sortable: false }
            ],
           

        }
    },
    methods:{
        async lista(){
            var resp = await axios.get("http://localhost:8080/produtos");
            this.produtos = resp.data;
        }
    },
    mounted(){
        this.lista();
    }
    

}
</script>
